{% extends 'base.html' %}

{% block content %}

<h1 style='text-align: center'>Balance info<h1>
<hr>

<br />
<h6 style='text-align: right'>Balance: 56,0590.10 $</h6>
<br>

<div>
        
        <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
        <div class="progress mb-3" role="progressbar" aria-label="Warning example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar text-bg-warning w-75">BTC 75%</div>
        </div>
        <div class="progress mb-3" role="progressbar" aria-label="Success example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-success w-25">USD$ 25%</div>
        </div>
        <div class="progress mb-3" role="progressbar" aria-label="Info example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar text-bg-info w-50">LiteCoin 50%</div>
        </div>
        <div class="progress mb-3" role="progressbar" aria-label="Example with label" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar">TRX 0%</div>
        </div>
        
        </div>
        </div></div>




{% endblock content %}